header {
  flex-direction: column;
}
header h2 {
  text-align: center;
}

.landing h1 {
  text-align: center;
}
.house {
  flex-direction: column;
}
.test {
  flex-direction: column;
}
