header {
  display: flex;
  flex-flow: column nowrap;
}
.vp-content {
  padding: 1rem;
}

.vp-content h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.vp-content p {
  font-size: 1rem;
}
.offer {
  padding: 2rem 1rem;
}
.offer-list {
  flex-flow: column nowrap;
}
.title {
  text-align: center;
  font-size: 1.5rem;
}

.who {
  flex-flow: column nowrap;
}
.who-content-text {
  flex: 1;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.who-content-text p {
  font-size: 1.1rem;
  line-height: 1.3rem;
}
.testimonials-elem {
  flex: 1;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
