@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Rouge+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}
ul {
  list-style: none;
}
body {
  height: 100vh;
  font-family: "Bonheur Royale", cursive;
  background: url("img/moon-2048727_1920.jpg") no-repeat center center/cover;
  color: white;
  font-size: 1.7rem;
}
i {
  color: white;
  font-size: 2rem;
}
.brand {
  font-size: 2rem;
}
.bold {
  color: #ffa801;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 60px;
  line-height: 2rem;
  margin: 0 1rem;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  margin-right: 1.5rem;
}
nav ul li a:hover {
  color: #ffa801;
  transition: 0.7s ease;
}
.icon {
  margin-right: 1.5rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 600px) {
  .ser {
    flex-direction: column;
  }

  section h1 {
    font-size: 2.5rem;
    margin-bottom: 0.7rem;
  }
  section.card-home .card h1 {
    font-size: 1.6rem;
  }
  section .card-home {
    margin: 1rem 0;
  }
  .icon {
    display: block;
  }

  nav {
    background: black;
  }

  nav ul {
    position: fixed;
    flex-direction: column;
    top: 50px;
    height: 100vh;
    background: black;
    justify-content: center;
    align-items: center;
    left: -100%;
    width: 100%;
    transition: 0.4s ease;
  }
  nav ul li a {
    color: #ffa801;
  }
}
nav ul.show {
  left: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: calc(100% - 70px);
  text-align: center;
  letter-spacing: 1px;
}

section h1 {
  font-size: 5rem;
}
section p {
  font-size: 3.5rem;
}
section .card-home .card h1 {
  font-size: 3.5rem;
}

section .card-home .card p {
  margin-top: 0.5rem;
  font-size: 2.5rem;
}

section .card-home {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.services {
  color: black;
  font-family: "Rouge Script", cursive;
  margin: 1.5rem 0;
  max-width: 1100px;
  margin: auto;
}
.services h1 {
  color: #ffa801;
}
.ser {
  display: flex;
  justify-content: space-between;
}
.serv p {
  font-size: 1.9rem;
  padding: 1rem 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1rem;
}
